---
name: Post Anime Tweet

on:
  # schedule:
  #   - cron: "0 21 * * *" # 日本時間6:00 (UTC+9)
  workflow_dispatch:

jobs:
  post-tweet:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: pip upgrade
        run: python -m pip install --upgrade pip

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.4.26"

      - name: Setup uv
        run: |
          uv venv
          source .venv/bin/activate
          uv sync --no-dev

      - name: Run tweet script
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          # OPENAI_MODEL: 'gpt-4o'
          OPENAI_MODEL: 'gpt-4o-mini-search-preview'
          X_API_KEY: ${{ secrets.X_API_KEY }}
          X_API_SECRET: ${{ secrets.X_API_SECRET }}
          X_ACCESS_TOKEN: ${{ secrets.X_ACCESS_TOKEN }}
          X_ACCESS_TOKEN_SECRET: ${{ secrets.X_ACCESS_TOKEN_SECRET }}
        run: |
          source .venv/bin/activate
          python scripts/post_tweet.py
